<?xml version="1.0" encoding="ISO-8859-1" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/courses-servlet.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>courses</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>courses</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>


<!--     <filter>
        <filter-name>springSessionRepositoryFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSessionRepositoryFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping> -->


    
    <!-- Error handling -->
    <error-page>
        <error-code>400</error-code>
        <location>/errors/404.html</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/errors/404.html</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/errors/500.html</location>
    </error-page>
    <!--     <filter> -->
    <!--         <filter-name>shiroFilter</filter-name> -->
    <!--         <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class> -->
    <!--         <init-param> -->
    <!--             <param-name>targetFilterLifecycle</param-name> -->
    <!--             <param-value>true</param-value> -->
    <!--         </init-param> -->
    <!--     </filter> -->
    <!--     <filter-mapping> -->
    <!--         <filter-name>shiroFilter</filter-name> -->
    <!--         <url-pattern>/*</url-pattern> -->
    <!--     </filter-mapping> -->
    <!-- 	<filter> -->
    <!-- 		<filter-name>authorized</filter-name> -->
    <!-- 		<filter-class>apect.Authorized</filter-class> -->
    <!-- 	</filter> -->
    <!-- 	<filter-mapping> -->
    <!-- 		<filter-name>authorized</filter-name> -->
    <!-- 		<url-pattern>/*</url-pattern>  -->
    <!-- 	</filter-mapping> -->
    <welcome-file-list>
        <welcome-file>/WEB-INF/view/login.ftl</welcome-file>
    </welcome-file-list>
</web-app>
